
<%= simple_form_for(@document) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.label 'Titulo' %>
    <%= f.input :title, label: false %>

    <%= f.label 'Texto' %>
    <%= f.input :text, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: "#{f.object.new_record? ? 'Confirmar datos' : 'Actualizar'}", class: "btn-primary" %>
  </div>
<% end %>
