<div class="pb-2 mt-4 mb-2 border-bottom">
  <div class="row">
    <div class="col-sm-6">
        <h3><%= singular_table_name %></h3>
    </div>
    <div class="col-sm-6">
      <div align="right">
        <%%= link_to 'Editar', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %>
        <%%= link_to ' | Atras',<%= index_helper %>_path %>
      </div>
    </div>
  </div>
</div>
<br />
<%- attributes.each do |attribute| -%>
<p><strong><%= attribute.human_name %>:</strong><%%= @<%= singular_table_name %>.<%= attribute.name %> %></p>
<%- end -%>
