<div class="pb-2 mt-4 mb-2 border-bottom">
  <div class="row">
    <div class="col-sm-6">
      <h3>Parrafos</h3>
    </div>
    <div class="col-sm-6">
      <div align="right">
        <%= link_to 'Agregar parrafo', new_paragraph_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<br />
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Texto</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @paragraphs.each do |paragraph| %>
      <tr>
        <td><%= paragraph.title %></td>
        <td><%= paragraph.text %></td>
        <td><%= link_to 'Ver', paragraph %></td>
        <td><%= link_to 'Editar', edit_paragraph_path(paragraph) %></td>
        <td><%= link_to 'Borrar', paragraph, method: :delete, data: { confirm: 'Confirma el borrado del parrafo?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
