
<%= simple_form_for(@image) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.file_field :picture, required: false %>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit, value: "#{f.object.new_record? ? 'Confirmar' : 'Actualizar'}", class: "btn-primary" %>
  </div>
<% end %>
