<!DOCTYPE html>
<html>
  <head>
    <title>Bsmanager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #71da71;">
    <!-- <a class="navbar-brand ml-5" href="#">ContaTRX</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-5">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Archivo</a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Imagenes", images_path, class: "dropdown-item" %>
              <%= link_to "Documentos", documents_path, class: "dropdown-item" %>
              <%= link_to "Mensajes", messages_path, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class='container'>
      <%= yield %>
    </div>
  </body>

</html>
